{% extends "shop/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Your Shopping Cart{% endblock %}
{% block content %}

<main class="pt-5">
  <div class="container">
    <h1 class="h5">Your Shopping Cart</h1>

    {% for item in cart_items %}
      <div data-index="{{item.product.id}}" class="row mb-4 border product-item">
        <div class="col-md-3 col-lg-2 order-md-first bg-light">
          {% if item.product.first_image %}
            <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image" src="{{ item.product.first_image.url }}">
          {% else %}
            <img class="img-fluid mx-auto d-block" width="120px" alt="Default image" src="../media/no_image_available.jpg">
          {% endif %}
        </div>
        <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">

          <div>
          <a href="{{ item.product.get_absolute_url }}" class="text-decoration-none text-reset">
            <h1 class="h5 pt-2">{{ item.product.name }}  ({{ item.product_id }})</h1>
          </a>
              Seller: {{ item.product.seller }}

            <div class="row p-3">
              <div class="col-6 text-start"><span class="h6 fw-bold">Price per unit: {{ item.product.unit_price }} zł</span></div>
            </div>

              <div class="col">
              <form action="{% url 'carts:update-quantity' product_id=item.product.id %}" method="POST">
                {% csrf_token %}
                {{ update_quantity_form.as_p }}
                <button type="submit" class="btn btn-outline-secondary btn-sm update-button">Update Quantity</button>
              </form>
            </div>

              <p><span class="h6 fw-bold">{{ item.quantity }} {{ item.product.unit }} X {{ item.product.unit_price }}</span></p>

              <div class="col">
                <form action="{% url 'carts:remove-item' product_id=item.product.id %}" method="POST" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger btn-sm delete-button">Remove item</button>
                </form>
              </div>

              <div class="col">
              <form action="{% url 'carts:add-to-cart' product_id=item.product.id %}" method="POST" class="d-inline">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-outline-secondary btn-sm update-button">
                    Add one
                  </button>
                </form>
              </div>

              <div class="col">
              <form action="{% url 'carts:remove-from-cart' product_id=item.product.id %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary btn-sm delete-button">
                  Remove one
                </button>
              </form>
            </div>
              <p><span class="h6 fw-bold">Sum product cost: {{ item.total_product_cost }} zł</span></p>
        </div>
        </div>
        </div>


    {% empty %}
    <p>Your cart is empty.</p>
    {% endfor %}

  <div class="col-12 text-start">
      <div class="h6 fw-bold">Sub Total: £<div id="subtotal" class="d-inline-flex">{{ total_price }}</div>
  </div>

    </div>
  </div>
    <div class="row">

<div class="col text-center">
      <form action="{% url 'carts:remove-all' %}" method="POST" class="d-inline-flex">
      {% csrf_token %}
    <button type="submit" class="btn btn-outline-danger btn-sm delete-button">
      Remove all
    </button>
  </form>
    <a class="btn btn-outline-secondary btn-sm {% if not one_seller %}disabled{% endif %}"
       href="{% url 'orders:order-confirmation' %}">
        Go to order
    </a>
    {% if not one_seller %}
    <div class="alert alert-warning mt-2" role="alert">
        To proceed to order you can have only products from the same seller.
    </div>
    {% endif %}
</div>
    </div>

</main>

{% endblock %}
