{% extends "shop/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load plotly_dash %}
{% block title %}YDashboards{% endblock %}
<head>
    <style>
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      height: calc(100vh - 48px);
      padding-top: .5rem;
      overflow-x: hidden;
      overflow-y: auto;
    }
    .nav-link.active {
      color: #007bff;
    }
    .fa, .fas {
      margin-right: 10px;
    }



  </style>
</head>
{% block content %}
    <div class="dashboard-container">
        <div class="dash-content">
            {% plotly_app name="GenericDash" ratio=1 %}
        </div>
    </div>

{% endblock %}
