{% extends 'shop/sidebar.html' %}
{% load static %}

{% block content_main %}

<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Registration</li>
    </ul>
	<h3> Registration</h3>
	<div class="well">
	<!--
	<div class="alert alert-info fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div>
	<div class="alert fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div>
	 <div class="alert alert-block alert-error fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div> -->
	<form class="form-horizontal">
		<h4>Your personal information</h4>
		<div class="control-group">
		<label class="control-label">Title <sup>*</sup></label>
		<div class="controls">
		<select class="span1" name="days">
			<option value="">-</option>
			<option value="1">Mr.</option>
			<option value="2">Mrs</option>
			<option value="3">Miss</option>
		</select>
		</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="first_name">First name <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="first_name" placeholder="First Name">
			</div>
		 </div>
		 <div class="control-group">
			<label class="control-label" for="last_name">Last name <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="last_name" placeholder="Last Name">
			</div>
		 </div>
        <div class="control-group">
			<label class="control-label" for="username">Username <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="username" placeholder="Username">
			</div>
		 </div>
		<div class="control-group">
		<label class="control-label" for="email">Email <sup>*</sup></label>
		<div class="controls">
		  <input type="text" id="email" placeholder="Email">
		</div>
	  </div>
	<div class="control-group">
		<label class="control-label" for="password1">Password <sup>*</sup></label>
		<div class="controls">
		  <input type="password" id="password1" placeholder="Password">
		</div>
	  </div>
    <div class="control-group">
		<label class="control-label" for="password2">Password <sup>*</sup></label>
		<div class="controls">
		  <input type="password" id="password2" placeholder="Password">
		</div>
	  </div>
		<div class="control-group">
		<label class="control-label">Date of Birth <sup>*</sup></label>
		<div class="controls">
		  <select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
			</select>
			<select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
			</select>
			<select class="span1" name="days">
				<option value="">-</option>
					<option value="1">1&nbsp;&nbsp;</option>
					<option value="2">2&nbsp;&nbsp;</option>
					<option value="3">3&nbsp;&nbsp;</option>
					<option value="4">4&nbsp;&nbsp;</option>
					<option value="5">5&nbsp;&nbsp;</option>
					<option value="6">6&nbsp;&nbsp;</option>
					<option value="7">7&nbsp;&nbsp;</option>
			</select>
		</div>
	  </div>

	<div class="alert alert-block alert-error fade in">
		<button type="button" class="close" data-dismiss="alert">×</button>
		<strong>Lorem Ipsum is simply</strong> dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
	 </div>

		<h4>Your default address</h4>
		<div class="control-group">
			<label class="control-label" for="first_name2">First name <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="first_name2" placeholder="First Name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="last_name2">Last name <sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="last_name2" placeholder="Last Name">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="street">Street address<sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="street" placeholder="Street address">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="city">City<sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="city" placeholder="city">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="state">State<sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="state" placeholder="State">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="zip_code">Zip / Postal Code<sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="zip_code" placeholder="Zip / Postal Code">
			</div>
		</div>

        <div class="control-group">
			<label class="control-label" for="country">Country<sup>*</sup></label>
			<div class="controls">
			  <input type="text" id="country" placeholder="Country">
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="phone">Mobile Phone </label>
			<div class="controls">
			  <input type="text" name="mobile" id="phone" placeholder="Mobile Phone">
			</div>
		</div>

	<p><sup>*</sup>Required field	</p>

	<div class="control-group">
			<div class="controls">
				<input type="hidden" name="email_create" value="1">
				<input type="hidden" name="is_new_customer" value="1">
				<input class="btn btn-large btn-success" type="submit" value="Register">
			</div>
		</div>
	</form>
</div>

</div>

{% endblock %}