{% extends "shop/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Your Order{% endblock %}
{% block content %}
    <main class="pt-5">
        <div class="container">
        {{ order.address }}
            <h1 class="h5">Your Order {{ order.id }} from {{ order.created_at }}</h1>
            {% for item in order.order_items.all %}
                <div data-index="{{ item.product.id }}"
                     class="row mb-4 border product-item">
                    <div class="col-md-3 col-lg-2 order-md-first bg-light">
                        {% if item.product.first_image %}
                            <img class="img-fluid mx-auto d-block"
                                 width="120px"
                                 alt="Responsive image"
                                 src="{{ item.product.first_image.url }}">
                        {% else %}
                            <img class="img-fluid mx-auto d-block"
                                 width="120px"
                                 alt="Default image"
                                 src="../media/no_image_available.jpg">
                        {% endif %}
                    </div>
                    <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                        <div>
                            <a href="{{ item.product.get_absolute_url }}"
                               class="text-decoration-none text-reset">
                                <h1 class="h5 pt-2">{{ item.product.name }}  ({{ item.product_id }})</h1>
                            </a>
                            <p>
                                <span class="h6 fw-bold">{{ item.quantity }} {{ item.product.unit }} X {{ item.product.unit_price }}</span>
                            </p>
                            <p>
                                <span class="h6 fw-bold">Sum product cost: {{ item.total_product_cost }} zł</span>
                            </p>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Your order list is empty.</p>
            {% endfor %}
{#            <div class="col-12 text-end">#}
{#                <div class="h6 fw-bold">#}
{#                    Sub Total:#}
{#                    <div id="subtotal" class="d-inline-flex">{{ order.total_price }} zł</div>#}
{#                </div>#}
{#            </div>#}
        </div>
        <div class="row">
            <hr>
            <div class="row">
                <div class="col-12 text-center mb-3">
                            <p>Chosen Address:</p>
                            <p>
                                Full name: {{ order.address.first_name }} {{ order.address.last_name }}
                                <br>
                                Street: {{ order.address.street }}
                                <br>
                                City, State, Postal Code:
                                {{ order.address.city }}, {{ order.address.state }} {{ order.address.postal_code }}
                                <br>
                                Country {{ order.address.country }}
                            </p>
                            <p>Chosen shipping Type: {{ order.shipping_type.type }} - {{ order.shipping_type.price }} zł</p>
                        </div>
                </div>
            </div>
            <hr>
            <div class="col-12 text-center">
                <div class="h6 fw-bold">
                Total price with shipping:
                <div id="subtotal" class="d-inline-flex">{{ order.total_price_with_shipping }} zł</div>
                <div>
                Status of payment:
                <div id="subtotal" class="d-inline-flex">{{ order.status }}.</div>
                </div>
                <div>
                Status of shippment:
                <div id="subtotal" class="d-inline-flex">{{ order.shipping_status }}.</div>
                </div>
            </div>
    </main>
{% endblock %}
