{% extends "./base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="album py-5 bg-body-tertiary">
    <div class="container">
    <div class="pb-3 h5">
        {% if selected_category %}
            {{ selected_category }}
        {% else %}
            All products
        {% endif %}
    </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-5 g-3">

        {% for product in products %}

        <div class="col">
          <div class="card shadow-sm">

          <a href="{{ product.get_absolute_url }}">
            {% if product.get_thumbnail %}
                <img class="img-fluid" alt="Responsive image" src="{{ product.get_thumbnail.url }}">
            {% else %}
                <img class="img-fluid" alt="Default image" src="{{ MEDIA_URL }}no_image_available.jpg">
            {% endif %}
          </a>

            <div class="card-body">
              <p class="card-text">
                <a class="text-dark text-decoration-none" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
              </p>
            </div>
          <div class="d-flex">
            <form action="{% url 'carts:add-to-cart' product.id %}" method="POST" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-secondary btn-sm">
                Add to Cart</button>
            </form>
              <form action="{% url 'orders:product-to-order' product.id %}" method="POST" class="d-inline">
                  {% csrf_token %}
                <button type="submit" class="btn btn-outline-secondary btn-sm">
                    Order</button>
              </form>
          </div>

          </div>
        </div>

        {% endfor %}

      </div>
    </div>
    </div>

{% endblock %}
