{% extends "shop/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
{{ product_details.name }}
{% endblock %}
{% block content %}
<div class="container">
    <main class="pt-5">
        <div class="row g-3">
            <div class="col-md-5 col-lg-5 order-md-first bg-light"><td>

                    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            {% for image in images %}
                                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img class="d-block w-100" src="{{ image.image.url }}" alt="Slide {{ forloop.counter }}">
                                </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div></td>
            </div>
            <div class="col-md-7 col-lg-7 ps-md-3 ps-lg-5">
                <h1 class="mb-0 h4">{{ product_details.name }}</h1>
                <p>Seller: <span class="lead">{{ product_details.seller.full_name }}</span></p>
                <p>{{ product_details.description|slice:":355" }}...</p>
                <div class="border">
                    <div class="col border-bottom">
                        <div class="row p-3">
                            <div class="col-6">Price</div>
                            <div class="col-6 text-end"><span class="h4 fw-bold">{{ product_details.unit_price }} zł</span></div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row p-3">
                            <div class="col-6">
{#                                <label for="select">Qty</label>#}
{#                                <select id="select">#}
{#                                    <option value="">1</option>#}
{#                                    <option value="">2</option>#}
{#                                    <option value="">3</option>#}
{#                                    <option value="">4</option>#}
{#                                </select>#}

                            </div>
                            <form action="{% url 'carts:add-to-cart' product_details.id %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <div class="col-6 text-end">
                                <button type="submit" class="btn btn-outline-secondary btn-sm">
                                    Add to Cart</button></div>
                                </form>
                            <form action="{% url 'orders:product-to-order' product_details.id %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <div class="col-6 text-end">
                                <button type="submit" class="btn btn-outline-secondary btn-sm">
                                    Order</button></div>
                                </form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>

</div>
{% endblock %}
