{% extends "shop/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Your All Products{% endblock %}
{% block content %}
    <main class="pt-5">
        <div class="container">
            <h1 class="h5">Your All Products</h1>
{#            <form method="get">#}
{#            {{ filter.form.as_p }}#}
{#            <button type="submit">Filter</button>#}
{#            </form>#}
            {% for item in product %}
                <div data-index="{{ item.id }}"
                     class="row mb-4 border product-item">
                    <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                        <div>
                            <a href="{{ item.get_absolute_url }}"
                               class="text-decoration-none text-reset">
                                <h1 class="h5 pt-2">{{ item.name }} ({{ item.id }}) created at  ({{ item.created_at }})</h1>
                            </a>
                            <p>
                            <form action="{% url 'shop:product-update' item.id %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger btn-sm delete-button">Update Product</button>
                            </form>

                            <form action="{% url 'shop:product-delete' item.id %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger btn-sm delete-button">Delete Product</button>
                            </form>
                            </p>

                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Your order list is empty.</p>
            {% endfor %}
        </div>
     </main>
{% endblock %}
